@model HealthCareProject.Models.PatientInformationForm
@{
    ViewData["Title"] = "PatientInformationForm";
}

<h1>Patient Information Form</h1>

<form method="post">

    <label>
        FirstName
        <input id="HealthRecordsFirstName" type="text" name="HealthRecordsFirstName" />

    </label>


    <label>
        LastName
        <input id="HealthRecordsLastName" name="HealthRecordsLastName" type="text" size="25" />
    </label>


    <label>
        Height (inches)
        <input id="Height" name="Height" type="text" size="25" />
    </label>


    <label>
        Weight (pounds)
        <input id="Weight" name="Weight" type="text" size="25" />
    </label>


    <label>
        Medications
        <input id="Medications" name="Medications" type="text" size="25" />
    </label>

    <label>
        Family History
        <input id="Family History" name="Family History" type="text" size="25" />
    </label>


    <label>
        Allergies
        <input id="Allergies" name="Allergies" type="text" size="25" />
    </label>


    <label>
        Medical History
        <input id="Medical History" name="Medical History" type="text" size="25" />
    </label>


    <label>
        Immunizations
        <input id="Immunizations" name="Immunizations" type="text" size="25" />
    </label>


    <label>
        Diagnosis and Test Results
        <input id="Diagnosis and Test Results" name="Diagnosis and Test Results" type="text" size="25" />
    </label>


    <label>
        Zip Code
        <input id=" Zip Code" name=" Zip Code" type="text" size="25" />
    </label>

</form>

<a href="https://localhost:44328/Home/RecommendAnInsurancePlan">Recommend an Insurance Plan     </a>
<a href="https://localhost:44328/Home/RecommendPrimaryCarePhysician">Recommend a Primary Care Physician     </a>
<a href="https://localhost:44328/Home/RecommendSpecialists">Recommend a Specialist    </a>


